bin/
build/
.gradle
.idea
ipch

*.aps
*.opendb
*.ncb
*.iml
*.sdf
*.opensdf
*.suo
*.user
*.obj
*.ilk
*.lib
*.exe
*.dll
*.exp
*.pdb
*.idb
*.VC.db
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.ipch
*.dep
*.res
*.embed.manifest
*.pyc
.DS_Store
BuildLog.htm
Thumbs.db
log.htm
GfxFileInfo.xml

*.so
*.a
*.o
*.o.d

*.patch
*.diff

.vs
/android/vsoup.asp/buildDir
/android/vsoup.asp/app/keys.properties
